---

import { Icon } from 'astro-icon/components';
export interface Props {
    path: string;
	frontmatter: Record<string, any>;
}

const { path, frontmatter } = Astro.props;

---

<article class="article">
    <h2 class="title"><a href={path}>{frontmatter.title}</a></h2>
    <aside class="date">
        <Icon name="bi:calendar-fill" /> <time datetime={frontmatter.date}>{frontmatter.date}</time>
    </aside>
    <p>{frontmatter.description}</p>
</article>

<style lang="scss">
    .article {
        margin-top: 20px;
        padding: 16px;
        border: 2px dashed var(--dimmed);
        border-radius: 12px;
    }

    .date {
        color: var(--dimmed);
        font-size: 0.9em;
    }
    h2.title {
        margin: 0;
        border-bottom: none;
    }
</style>