---

import { Icon } from 'astro-icon/components';
import { format } from 'date-fns';
export interface Props {
    path: string;
	frontmatter: Record<string, any>;
}

const { path, frontmatter } = Astro.props;

const dateString = isNaN((frontmatter.date as Date).getTime()) ? '不明' : format(frontmatter.date as Date, 'yyyy/MM/dd');
const isoString = isNaN((frontmatter.date as Date).getTime()) ? '' : (frontmatter.date as Date).toISOString();

---

<a href={path} class="root">
    <article class="article">
        <h2 class="title">{frontmatter.title}</h2>
        <aside class="date">
            <Icon name="bi:calendar-fill" /> <time datetime={isoString}>{dateString}</time>
        </aside>
        <p>{frontmatter.description}</p>
    </article>
</a>

<style lang="scss">
    .root {
        color: inherit;
        text-decoration: none;
    }

    .article {
        background-color: var(--content-bg);
        padding: 16px;
        border-radius: 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .date {
        color: var(--dimmed);
        font-size: 0.9em;
        padding-left: 10px;
    }

    h2.title {
        margin: 0;
        border-bottom: none;
    }
</style>