---
import Content from '../components/Content.astro';
import Layout from '../layouts/Layout.astro';
import { Icon } from 'astro-icon/components';
import { format } from 'date-fns';

const { frontmatter } = Astro.props;

const dateString = isNaN((frontmatter.date as Date).getTime()) ? '不明' : format(frontmatter.date as Date, 'yyyy/MM/dd');
const isoString = isNaN((frontmatter.date as Date).getTime()) ? '' : (frontmatter.date as Date).toISOString();

const shareTitle = encodeURIComponent(`${frontmatter.title} - るちーかの長いノート`);
const shareURL = encodeURIComponent(Astro.request.url);
const shareText = `${shareTitle}%0A%0A${shareURL}`;

const shares = [{
    name: 'misskey',
    url: `https://misskey-hub.net/share/?text=${shareText}&visibility=public&localOnly=0&manualInstance=https:%2F%2Fmk.shrimpia.network`,
    buttonBg: '#A1CA03',
    buttonFg: 'white',
    icon: 'simple-icons:misskey',
}, {
    name: 'mastodon',
    url: `https://donshare.net/share.html?text=${shareTitle}&url=${shareURL}`,
    buttonBg: '#6364FF',
    buttonFg: 'white',
    icon: 'simple-icons:mastodon',
}, {
    name: 'x',
    url: `https://x.com/intent/tweet?text=${shareText}`,
    buttonBg: 'black',
    buttonFg: 'white',
    icon: 'simple-icons:x',
}];

---

<Layout title={frontmatter.title}>
    <Content>
        <article class="blog">
            <header class="hero">
                <h1>{frontmatter.title}</h1>
                <aside style="color: var(--dimmed)">
                    <Icon name="tabler:calendar-event"/> <time datetime={isoString}>{dateString}</time>
                </aside>
            </header>
            <article class="_article-card">
                <slot />
            </article>
            <footer class="article-footer">
                <div class="share-buttons">
                    <h2>この記事をシェアする</h2>
                    <div class="_sns-buttons">
                        {shares.map(share => (
                            <a
                                href={share.url}
                                style={`--brand-bg: ${share.buttonBg}; --brand-fg: ${share.buttonFg}`}
                                class="_sns-button"
                                target="_blank"
                                rel="noopener noreferrer"
                            >
                                <Icon name={share.icon} />
                            </a>
                        ))}
                        <button type="button" class="_sns-button" style="--brand-bg: var(--primary); --brand-fg: white" id="blog-web-share-api-button">
                            <Icon name="tabler:share" />
                        </button>
                    </div>
                </div>
                <a class="back-button" href="/blog">← ブログ一覧に戻る</a>
            </footer>
        </article>
    </Content>
</Layout>

<script define:vars={{ shareTitle, shareURL }}>
    document.getElementById('blog-web-share-api-button').addEventListener('click', async () => {
        if (!navigator.share) {
            alert('お使いのブラウザはこの方法での共有に対応していません。');
            return;
        }
        try {
            await navigator.share({
                title: decodeURIComponent(shareTitle),
                url: decodeURIComponent(shareURL),
            });
        } catch (err) {
            console.error('Error sharing:', err);
            alert('共有に失敗しました。' + err.message);
        }
    });
</script>

<style lang="scss">
    .blog {
        header.hero {
            margin-bottom: 1rem;
            text-align: center;
            padding-bottom: 1rem;
        }

        img {
            max-width: 100%;
        }

        hr {
            margin: 3rem 0;
            border: none;
            border-bottom: 1px solid var(--dimmed);
        }

        .article-footer {
            margin-top: 3rem;
            text-align: center;
        }

        .share-buttons {
            margin-bottom: 2rem;

            > h2 {
                border: none;
                margin-top: 0;
                font-size: 1.2rem;
                &::before {
                    display: none;
                }
            }
        }

        .back-button {
            display: inline-block;
            color: var(--foreground);
            background: var(--menubar-link-bg);
            text-decoration: none;
            padding: 8px 16px;
            border-radius: 6px;
            transition: background-color 0.1s ease, color 0.1s ease;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

            &:hover {
                background-color: var(--primary);
                color: white;
            }
        }
    }
</style>
