---
import Navbar from '../components/Navbar.astro';
import 'photoswipe/style.css';
import 'photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.css';
import '../styles/style.scss';
import { SITE_DESCRIPTION, SITE_TITLE } from '../scripts/const';

export interface Props {
	title?: string;
	description?: string;
	root?: boolean;
}

const title = Astro.props.title ? `${Astro.props.title} | ${SITE_TITLE}` : SITE_TITLE;
const description = Astro.props.description ?? SITE_DESCRIPTION;
const themeColor = '#651622';
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<script is:inline>
			const preferred = window.matchMedia('(prefers-color-scheme: dark)').matches
			const currentTheme = localStorage.getItem('theme') || 'system';
			const finalTheme = currentTheme === 'system' ? (preferred ? 'dark' : 'light') : currentTheme;
			document.documentElement.setAttribute('data-theme', finalTheme);
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<link href="https://koruri.chillout.chat/koruri.css" rel="stylesheet">
		<link href="https://unpkg.com/sanitize.css" rel="stylesheet"/>
		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="msapplication-TileColor" content={themeColor} />
		<meta name="theme-color" content={themeColor} />
		<meta property="og:type" content={title ? 'article' : 'website'} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:site_name" content={SITE_TITLE} />
		<meta property="og:image" content="/favicon.png" />
	</head>
	<body id="root">
		<Navbar />
		<main>
			<slot />
		</main>
		<footer>
			<span>(C)2023-{new Date().getFullYear()} Ebise Lutica all rights reserved.</span>
		</footer>
	</body>
</html>

<script>
	import PhotoSwipe from 'photoswipe';
	import PhotoSwipeLightbox from 'photoswipe/lightbox';

	const lightbox = new PhotoSwipeLightbox({
		gallery: '#root',
		children: '.item',
		pswpModule: PhotoSwipe,
	});

	lightbox.init();
</script>

<style lang="scss">
	main.non-root {
		margin-top: 32px;
	}

	main {
		padding-top: 64px;
		min-height: calc(100vh - 128px);
	}

	footer {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 128px;
		
		> span {
			opacity: 0.6;
		}
	}
</style>
